@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* blockquote in foreign-language */
blockquote[xml|lang]{
	font-style: italic;
}
/* end of foreign-language blockquote */

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* end of poem/verse/song */

/* custom */
section[epub|type~="dedication"]{
	margin-top: 3em;
}

section[epub|type~="dedication"] header{
	font-style: italic;
	text-align: center;
}

[epub|type~="se:letter.dateline"]{
	font-style: italic;
	margin-top: 1em;
	text-align: right;
}

[epub|type~="se:letter.dateline"] b,
[epub|type~="se:letter.dateline"] i{
	font-style: normal;
}

hgroup + [epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

[epub|type~="z3998:recipient"]{
	font-style: italic;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0;
}

#chapter-24 blockquote:first-of-type,
#chapter-24 blockquote header p{
	text-align: center;
}

#chapter-24 blockquote header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

/* custom */
